<!DOCTYPE html>
<html>
<head>
    <title>Curaduria de Soledad N.1</title>
    <%= stylesheet_link_tag "cf_ur", media: "all", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "cf_ou.js" %>  
</head>
<body>
<header>
<div class="wrapper">
  <h1>Curaduria Urbana de Soledad N.1</h1>
  <h1>Formulario Único Liquidación de Expensas</h1>  
  <p>Decreto 1469/2010</p>
  </div>  
</header>
<div class="wrapper">
  <div id="datos_personales">
    <p class = "datos_p">Tipo de Licencia:</p><input class = "datos_p" type="text">
<p class = "datos_p">Nombre del solicitante:</p><input class = "datos_p" type="text">
<p class = "datos_p">Dirección de la obra:</p><input class = "datos_p" type="text">
<p class = "datos_p">Fecha:</p><input class = "datos_p" type="text">
  </div>
  <img src="<%= asset_path("logo.png") %>" width: 140px>

<br>
  <p class="formula" >Formula: E=(Cf * i * m)</p>
  <p class = "formula">E= Cargo Fijo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i = Estrato&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;m = Factor Municipal
</p>
<p id="box"> <strong>RADICACION </strong>  (La cancelación de este valor es indispensable para el "Analisis y Estudio" de la solicitud de Licencia y no garantiza la expedición de la licencia de manera positiva o afirmativa)
</p>
<p id="e_c">Categoria <input id="e_c_i" type="number" min="1" max="3" value=1></p>
<div id='pop-up'>
  <p><strong>RANGOS EN M2</strong></p>
  <p>1 a 300 m2 categoria 1</p>
  <p>300 a 1000 m2 categoria 2</p>
  <p>1000 o más categoria 3</p>
</div>
<table>
 <tr>
   <td></td>
   <td>Tarifa Plena</td>
   <td>Indice</td>
   <td></td>
   <td></td>
 </tr>
  <tr>
  <td><p>COSTO COMPONENTE Ai (Cargo Fijo)</p></td>
   <td><p id='tarifa_plena' title="<%=@data.find(3).valor%>" class="valor"><%= number_to_currency(@data.find(3).valor)%></p></td>
   <td><p id="indice" class="valor">&nbsp;</p></td>
   <td><p id="fact_mpal"class="valor"><%= @data.find(6).valor%></p></td>
   <td><p id="valor_costo_componente" class="valor">&nbsp;</p></td>
 </tr>

 <tr>
   <td></td>
   <td>Valor</td>
   <td>Unidades</td>
   <td></td>
   <td></td>
 </tr>
    
<tr>
 <td><p>NOTIFICACION DE VECINOS Correo</p></td>
   <td><p id="valor_vecinos" title="<%=@data.find(2).valor%>" class="valor"><%= number_to_currency(@data.find(2).valor)%></p></td>
   <td><input id="n_vecinos" type="number" min=0 value=0></td>
   <td></td>
   <td><p id="valor_total_vecinos" class="valor">&nbsp;</p></td>
 </tr>
 <tr>
   <td><p>NOTIFICACION DE VECINOS/TERCEROS Prensa</p></td>
   <td><p id="valor_prensa" title="<%=@data.find(2).valor*2%>" class="valor"><%= number_to_currency(@data.find(2).valor*2)%></p></td>
   <td><input id="n_prensa" min=0 type="number" value=0></td>
   <td></td>
   <td><p id="valor_total_prensa" class="valor">&nbsp;</p></td>
 </tr>


 <tr>
   <td><p>VALOR PARCIAL Expensas</p></td>
   <td></td>
   <td></td>
   <td></td>
   <td><p id="valor_parcial" class="valor">&nbsp;</p></td>
 </tr>


 <tr>
   <td><p>I.V.A</p></td>
   <td><p><strong>16%</strong></p></td>
   <td></td>
   <td></td>
   <td><p id="iva" class="valor">&nbsp;</p></td>
 </tr>
 
 <tr>
   <td><p>VALOR TOTAL RADICACIÓN</p></td>
   <td></td>
   <td></td>
   <td></td>
   <td><p id="total" class="valor">&nbsp;</p></td>
 </tr>
 <tr>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td><button class="boton" onclick="myFunction()">Calcular</button></td>
 </tr>
</table>
<br>
<p id="box"> <strong>NOTA:</strong>  Después de radicado su proyecto y pasados treinta (30) días, y aún no ha diligenciado su solicitud de licencia, PERDERÁ EL VALOR CANCELADO POR RADICACION.
</p>

</div>

</body>
</html>