<p id="notice"><%= notice %></p>

<p>
  <strong>Definicion:</strong>
  <%= @datum.definicion %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @datum.anio %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @datum.siglas %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @datum.valor %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
